@tailwind base;
@tailwind components;
@tailwind utilities;

.yt-lite {
  aspect-ratio: 16/9;
}

.yt-lite > .lty-playbtn {
  border: none;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.yt-lite > .lty-playbtn:before {
  border-color: transparent transparent transparent white;
  border-width: 15px 0 15px 26px;
}

.yt-lite:hover > .lty-playbtn {
  background: rgba(0, 0, 0, 0.9);
}